html {
    font-family: "Comic Sans MS", cursive, sans-serif;
    height: 100%;
    width: 100%;
}

body {
    background: url("https://static.wixstatic.com/media/08fe21_6fc7cb797fc542dc8b4fea9e2cbd85f7~mv2_d_3610_2357_s_2.jpg/v1/fill/w_1470,h_1520,al_c,q_90,usm_0.66_1.00_0.01/08fe21_6fc7cb797fc542dc8b4fea9e2cbd85f7~mv2_d_3610_2357_s_2.webp") no-repeat top center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    height: 3.5em;
}
.navbar li {
    float: left;
}
  
.navbar li a {
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.5em;
}
  
.navbar li a:hover:not(.active) {
    color: #91a7d0;
}
  
.navbar li a.active {
    color: #91a7d0;
}

.header{
    height: 200px;
    width: 100%;
    margin: 0;
    padding: 0;
    color: white;
    text-shadow: -1px 0 #91a7d0, 0 1px #91a7d0, 1px 0 #91a7d0, 0 -1px #91a7d0;
    text-align: center;
    font-size: 50px;
    margin-top: 5em;
}

.header p {
    margin-bottom: 0;
}

.header h1 {
    margin-top: 0;
}

#resume {
    background-color: #ffcc00;
    color: #ffffff;
    font-size: 30px;
    border-radius: 10px;
    padding: 10px;
}

.content{
    width: 100%;
    height: 100%;
    background: #ffffff;
    margin: 0;
    margin-top: 21em;
    padding: 0;
}

.content p {
    width:75%;
    margin-left:12%;
}